/*Página Home */
#page-landing{
    background-color:#B2B2B2;
}

/*Menu*/
.logo-container{
    align-items: center;

}

.buttons-container{
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

.buttons-container a{
    width: 20rem;
    height: 10rem;

    border-radius: 1rem;
    margin-right: 1.5rem;

    color: black;
    display: flex;
    align-items: center;
    justify-content: center;    
    
    text-decoration: none;

}

/*Página Contato*/

#page-contact{
    background-color:#B2B2B2;
    font-size: 1rem;
}

/*Formulário Contato*/
.form-group{
    font-size: 1rem;
}

.form-control{
    width: 100%;
    height: 3rem;
    margin-top: 0.5rem;
    outline: 0;
    padding: 0 10px;
}

