/*Página Home */
#page-landing{
    background-color: white;
}

/*logo*/
#logo-container{
    width: 1000px;
    text-align: center;
    background-color: #EAEAEA;
    border-radius: 10px 10px 0 0;
    margin-top: 5px;
}
/*Menu*/
#container{
    margin-right: auto;
    margin-left: auto;
    width: 1000px;
}
.buttons-container{
    padding: 1px 0;
    background-color: #EAEAEA;
    border-radius: 0px 0px 10px 10px;
}

.buttons-container ul{
    text-align: center;
}

.buttons-container li{
    display: inline-block;
    padding-right: 40px;
    list-style: none;
}

.buttons-container li a{
    font-size: 30px;
    font-family: 'Merienda', cursive;
    margin-right: auto;
    color: black;
    background-color: #C4C4C4;
    padding: 0px 40px;
    border-radius: 2px;
}

/*Trabalhos recentes*/
#middle-page{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    padding-top: 20px;
}
#recently-done {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: darkgrey;
}
#carousel{
    margin: 0 auto;
    width: 500px;
}
/*Principais depoimentos*/
#brief-container{
    padding: 10px;
    background-color: darkgrey;
    border-radius: 4px;
}
#brief-container h4{
    padding-bottom: 10px;
}
#people-brief{
    margin-left: 30px;
}
#people-brief dl{
    font-size: 20px;
}
#people-brief dl dd p{
    text-indent: 20px;
}

/*Página Contato*/

#page-contact{
    margin: 0;
    background-color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Formulário Contato*/
.form-group ,
.contact-fieldset h4{
    text-align: left;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
.form-group label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
.contact-fieldset h3{
    margin-top: 20px;
    font-size: 26px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: black;

}
.form-control{
    width: 100%;
    height: 3rem;
    margin-top: 5px;
    outline: 0;
    padding: 20 10px;
}

.create-contact{
    margin-top: 30px;
    margin-left: 90px ;
    margin-right: 0px;
    margin-bottom: auto;
    width: 600px;
    background-color: #C4C4C4;
    padding: 10px 30px 30px 20px;
    border-radius: 10px;
    position: relative;
}

.info-contact{
    margin-top: 30px; 
    margin-left: -180px;
    margin-right: 30px;
    width: 250px;
    padding: 20px 25px 20px 25px;
    background-color: #C4C4C4;
    border-radius: 10px ;
    position: relative;


}
.item-info p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: black;
}
.item-info{
    margin-bottom: 30px;
}

/*Página de Portfólio*/
*,
*::before
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#pagePics{
    background-color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}
.gallery{
    background-color: #C4C4C4;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 1000px;
    padding: 25px 22px ;
    border-radius: 10px;
}
.gallery h5{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.image-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    grid-template-areas:'img-1 img-2 img-3 img-4 img-5';      
}
.image-gallery a{
    width: 100%;
    height: 25hem;
    padding-left: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 10px;
}
.image-gallery a i{
    color: rgba(255, 255, 255, .6);
    font-size: 3rem;
    position: relative;
    z-index: 100;
    padding: 1rem 3rem;
    border: 2px solid rgba(255, 255, 255, .6);
    border-radius: .4rem;
    opacity: 0;
    transition: opacity .5s;
}
.image-gallery a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    opacity: 0;
    transition: opacity .5s;
}
.image-gallery a:hover i,
.image-gallery a:hover::before{
    opacity: 1;
}
.img-1{
    grid-area: img-1;
    min-height: 310px;
    min-width: 220px;
    background-image: url("img/IMG_2708.JPG");
}
.img-2{
    grid-area: img-2;
    min-width: 220px;
    background-image: url("img/IMG_2709.JPG");
}
.img-3{
    grid-area: img-3;
    min-width: 220px;
    background-image: url("img/IMG_2719.JPG");
}
.img-4{
    grid-area: img-4;
    min-width: 220px;
    background-image: url("img/XT201971.JPG");
}
.img-5{
    min-width: 465px;
    min-height: 210px;
    grid-area: img-1;
    background-image: url("img/XT201959.JPG");
}
.img-6{
    min-width: 465px;
    min-height: 210;
    grid-area: img-2;
    background-image: url("img/XT201986.JPG");
}
.img-7{
    grid-area: img-1;
    min-height: 310px;
    background-image: url("img/_DSF7414.JPG");
}
.img-8{
    grid-area: img-2;
    background-image: url("img/_DSF7431.JPG");
}
.img-9{
    grid-area: img-3;
    background-image: url("img/_DSF7437.JPG");
}
.img-10{
    grid-area: img-4;
    background-image: url("img/_DSF7501.JPG");
}
.img-11{
    grid-area: img-5;
    background-image: url("img/_DSF7502.JPG");
}
.img-12{
    min-height: 310px;
    grid-area: img-1;
    background-image: url("img/XT203178.JPG");
}
.img-13{
    grid-area: img-2;
    background-image: url("img/XT203181.JPG");
}
.img-14{
    grid-area: img-3;
    background-image: url("img/XT203187.JPG");
}
.img-15{
    grid-area: img-4;
    background-image: url("img/XT203427.JPG");
}
.img-16{
    grid-area: img-5;
    background-image: url("img/XT203433.JPG");
}
/* LightBox */  
.lbox{
    visibility: hidden;
    opacity: 0;
    text-align: center;
    display: none;
}
.lbox:target{
    display: flex;
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(10, 10, 10, .7);
    position: fixed;
}
.box_img{
    width: 1000px;
    margin: 25px auto;
}
.button{
    color: white;
    font-family: 'arial';
    text-decoration: none;
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
}
#prev{
    left: 5%;
    top:45%;
}
#next{
    right: 5%;
    top:45%;
}
#close{
    top:0;
    right: 2%;
}
.lbox:target .box_img{
    opacity: 1;
    transition: opacity .4s linear;
}
/* RodaPé */
.footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 230px;
    background-color: black;
    padding: 25px;
}
.footer .leftFooter{
    width: 400px;
    float: left;
}
.leftFooter h6{
    padding: 0 0 13px 0;
}
.footer .rightFooter{
    width: 400px;
    float: right;
}
.rightFooter {
    text-align: center;
    font-size: 12px;
    margin-right: auto;
    margin-left: auto;
}
.leftFooter p{
    text-decoration: none;
}

/*Página de Sobre mim*/
 .aboutme-avatar img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 10px 8px 6px rgba(50, 50, 50, 0.75);
    margin: 80px 50px;
    
 }
 .aboutme-text{
     width: 650px;
     height: 400px;
 }
 .aboutme-text h3{
     text-align: center;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     color: black;
     margin-top: 90px;
 }
 .aboutme-text p{
     text-align: justify;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     color: black;
     padding: 30px 20px;
     margin-left: 60px;
     margin-right: 30px;
 }

 #container-sm{
     display: flex;
     align-items: center;
     justify-content: center;
     width: 990px;
     margin-top: 20px;
     margin-left: 180px;
     margin-right: auto;
     background-color: #C4C4C4;
     border-radius: 10px ;

 }

